.env

/**/node_modules/
/**/.env
!docs/.env.example
/**/vendor
/**/npm-debug.log
/**/yarn-error.log
/**/tests-jest.xml
/**/tests-phpunit.xml

/source/public/hot
/source/public/storage
/source/storage/*.key
/source/.idea
/source/.htaccess


/source/public/js
/source/public/css
