.env

/source/node_modules
/source/public/hot
/source/public/storage
/source/storage/*.key
/source/vendor
/source/.idea
/source/.htaccess
/source/npm-debug.log
/source/yarn-error.log
/source/.env
/source/.env.testing
/source/.settings

/source/tests-jest.xml
/source/tests-phpunit.xml

/source/public/js
/source/public/css
/source/resources/assets/vue/vue-i18n-locales.generated.js
